# --- Environments & Python ---
.venv/
venv/
env/
stats/
.ipynb_checkpoints/
__pycache__/


# --- Quarto Internal & Cache ---
/.quarto/          # Local project cache (Only at root)
/_site/            # Final HTML website output
/site_libs/        # Supporting JS/CSS for the website
.jupyter_cache/    # If using Jupyter engine
# /_freeze/        # NOTE: Keep this UNCOMMENTED if you want to store R/Python results

# --- Render Artifacts ---
*.html             # Ignore all generated HTML files
**/out/            # Any directory named 'out'
**/*_files/        # Supporting folders for individual .qmd files
**/*.quarto_ipynb  # Intermediate Quarto notebooks


# --- Project Resources (DO NOT IGNORE usually) ---
docs/            # KEEP if this contains your manual documentation

# --- OS Specific ---
.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb*



/env/

**/*.quarto_ipynb
