<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<div>
<h2>\mml 1</h2>
<p>$y=\beta _0+\beta _1x_1+\beta _2x_2+\beta _3x_1x_2+\beta _4x_1^2+\beta _5x_2^2+\varepsilon $</p>
<p>D07F3B40E97C7BCA9852D8B9FDF5E986</p>

<math xmlns="http://www.w3.org/1998/Math/MathML">
 <mi>𝑦</mi>
 <mo lspace="0.278em" rspace="0.278em">=</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>0</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>1</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>1</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>2</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>2</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>3</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>1</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>2</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>4</mn>
 </msub>
 <msubsup>
 <mi>𝑥</mi>
 <mn>1</mn>
 <mn>2</mn>
 </msubsup>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>5</mn>
 </msub>
 <msubsup>
 <mi>𝑥</mi>
 <mn>2</mn>
 <mn>2</mn>
 </msubsup>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <mi>𝜀</mi>
</math>
</div>

<div>
<h2>\mml 2</h2>
<p>$y=\beta _0+\beta _1x_1+\beta _2x_2+\beta _3x_1x_2+\varepsilon $</p>
<p>7550196339E63E3D92C96770FB4D7908</p>

<math xmlns="http://www.w3.org/1998/Math/MathML">
 <mi>𝑦</mi>
 <mo lspace="0.278em" rspace="0.278em">=</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>0</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>1</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>1</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>2</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>2</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <msub>
 <mi>𝛽</mi>
 <mn>3</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>1</mn>
 </msub>
 <msub>
 <mi>𝑥</mi>
 <mn>2</mn>
 </msub>
 <mo lspace="0.222em" rspace="0.222em">+</mo>
 <mi>𝜀</mi>
</math>
</div>

</html>
