@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSerif-Regular-400.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/NotoSerif-Italic-400.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSerif-Regular-700.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/NotoSerif-Italic-700.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSans-Regular-400.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/NotoSans-Italic-400.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSans-Regular-700.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/NotoSans-Italic-700.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Serif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LibertinusSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Serif";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/LibertinusSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Serif";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/LibertinusSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Serif";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/LibertinusSerif-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LibertinusSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/LibertinusSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Libertinus Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/LibertinusSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Latin Modern Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/LatinModernMono-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Latin Modern Mono";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/LatinModernMono-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Latin Modern Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/LatinModernMonoLt-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Latin Modern Mono";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/LatinModernMonoLt-BoldOblique.otf") format("opentype");
}
